.banner{
  background-image: linear-gradient(-225deg,rgba(0, 0, 0, 0.2)0%, rgba(0, 0, 0, 0.1) 10%), url(../../images/cupcakes.jpeg);
  color: white;
  padding: 5px;
  background-size: cover;
  padding-bottom: 70px;
  margin-bottom: 15px;
}

.container h2{
text-align: center;
}

.banner h1{
  font-size: 90px;
  text-align: center;
  font-family: Lora;
}

.banner h2{
  font-size: 35px;
  font-weight: bolder;
  margin-bottom: 40px;
  color: white;
  font-style: italic;
}

.btn-blue {
  color: saddlebrown;
  background-color: white;
  font-size: 18px;
  font-family: Lora;
  align-items: center;
  text-align: center;
}

